Telegram Chatbot.json
{
  "name": "Telegram Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -16
      ],
      "id": "dc1de1cb-47c1-4273-b561-dc53ed97858a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -16
      ],
      "id": "ea6154e4-71c4-4eec-9bcd-7d24b5a20e1b",
      "name": "Telegram Trigger",
      "webhookId": "ce3ff7cf-a71f-401d-acaa-b01a08b20350",
      "credentials": {
        "telegramApi": {
          "id": "hNvBBqoEmGZcsSZc",
          "name": "ChatAPT7"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        -16
      ],
      "id": "45d4e6ba-a9df-4d89-a597-4a84112b11c3",
      "name": "Send a text message",
      "webhookId": "32b50cc4-06fe-4303-a71b-cc9c6abbef1d",
      "credentials": {
        "telegramApi": {
          "id": "hNvBBqoEmGZcsSZc",
          "name": "ChatAPT7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        -16
      ],
      "id": "432543cc-6ac3-4771-ad93-29c6fd2969aa",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        208
      ],
      "id": "00221f1c-a795-4193-82a7-f339ea72379e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "yuBNqao9vgfcoJZI",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        176
      ],
      "id": "dad48ffd-4227-43ed-b8f6-648c0203e439",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42be94d7-52fa-4426-97ad-2213c9921a44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d695be3cc1cc680718556af1b1ce2cf680b57b22b1545b7c38181486e0c2d8e"
  },
  "id": "xA25h9SpG1ZvMAcW",
  "tags": []
}